*{
	margin: 0;
	padding: 0;
	font-family: "黑体";
}
.swiper-container{
	width: 375px;
	height: 667px;
}
.s1{
	position: relative;
}
.img1{
	width: 100%;
	height: 100%;
	position: absolute;
}
.img2{
	width: 375px;
	height: 40px;
	position: absolute;
}
.img3{
	width: 300px;
	height: 80px;
	position: absolute;
	top: 80px;
	left: 20px;
}
.img4{
	width: 320px;
	height: 200px;
	position: absolute;
	top: 440px;
}
.s2{
	position: relative;
}
.img5{
	width: 300px;
	height: 100px;
	position: absolute;
	top: 80px;
}
.img6{
	width: 320px;
	height: 200px;
	position: absolute;
	top: 420px;
	left: 55px;
}
.img7{
	width: 300px;
	height: 100px;
	position: absolute;
	top: 50px;
	right: 0;
}
.img8{
	width: 150px;
	height: 200px;
	position: absolute;
	top: 450px;
	left: 0px;
}
.img9{
	width: 350px;
	height: 100px;
	position: absolute;
	top: 40px;
	left: 5px;
}
.img10{
	width: 130px;
	height: 90px;
	position: absolute;
	top: 540px;
	right: 20px;
}
.img11{
	width: 130px;
	height: 110px;
	position: absolute;
	top: 420px;
	left: 20px;
}
.img12{
	width: 350px;
	height: 100px;
	position: absolute;
	top: 100px;
	left: 5px;
}
.img13{
	width: 130px;
	height: 30px;
	position: absolute;
	top: 230px;
	right: 0px;
}
.img14{
	width: 360px;
	height: 130px;
	position: absolute;
	top: 450px;
	left: 10px;
}
.em1{
	color: red;
	font-size: 24px;
}
.p1{
	width: 100%;
	
	font-size: 19px;
	color: #959390;
	position: absolute;
	top: 200px;
	left: 10px;
}
.p2{
	width: 100%;
	font-size: 17px;
	color: #959390;
	position: absolute;
	top: 220px;
	left: 10px;
}
.p3{
	width: 100%;
	font-size: 17px;
	color: #959390;
	position: absolute;
	top: 190px;
	left: 10px;
	text-align: right;
	padding-right: 10px;
}
.p4{
	width: 100%;
	font-size: 17px;
	color: #959390;
	position: absolute;
	top: 190px;
	left: 10px;
	padding-right: 10px;
}